/* Création de variable pour stocker des couleurs et les reutiliser plus facilement*/
:root {
  --dark: black;
  --pink: #fe5d5d;
  --white: white;
  --green: #04aa6c;
  --beige: #faf1ed;
}

/* GLOBALS */
body {
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header .hidden {
  display: none;
}

h1 {
  font-weight: bold;
  font-size: 54px;
  font-family: "TS-Med";
  padding-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0;
}

h3 {
  font-size: 32px;
  padding-top: 20px;
  font-weight: 200;
}

h4 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

/*-------------------------------*/
/* HEADER */
/*-------------------------------*/

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
header img {
  width: 190px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons-nav {
  display: flex;
  padding: 8px 10px;
}

/*.icons-nav:not(:last-child) {
  padding: 8px 10px;
}*/
.icons-nav i {
  margin-right: 8px;
}

header button {
  background-color: var(--dark);
  border-radius: 20px;
  color: white;
  border: none;
  width: 130px;
  height: 40px;
}

header button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.icons-nav:hover {
  background-color: lightgrey;
  border-radius: 20px;
}
/* ------------------------------------ */
/* TOP-SECTION */
/* ------------------------------------
------------------------------------
------------------------------------ */

h1 span {
  color: var(--pink);
}

h1 + p {
  font-size: 12px;
  color: #333333;
  margin-bottom: 30px;
}

.nav-top-pictures {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-top-pictures > div {
  display: flex;
  border: 1px solid;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  flex: 1;
}

.nav-top-pictures > div:hover {
  background-color: var(--dark);
  color: var(--white);
}

.nav-top-pictures div p {
  font-weight: bold;
}

.nav-top-pictures i {
  font-size: 20px;
}

.views {
  display: flex;
  height: 430px;
  gap: 2px;
}

.views > img:first-child {
  flex: 3;
}

.views div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 2;
}

.views img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.views > div img {
  height: calc(50% - 1px);
  width: 100%;
  object-fit: cover;
}

.legend-pics {
  display: flex;
  justify-content: space-between;
}

.legend-pics p {
  font-size: 12px;
  color: #333333;
  margin-top: 20px;
}

/* ------------------------------------ */
/* SECTION-DESCRIPTION */
/* ------------------------------------
------------------------------------
------------------------------------ */

.description {
  display: flex;
  gap: 120px;
  margin-top: 20px;
}

.description .left-side {
  width: 90%;
}

.left-side p {
  font-size: 20px;
}
aside {
  background-color: var(--pink);
  border-radius: 10px 10px 0 0;
  padding: 5px 0 30px 25px;
}

aside p {
  padding-top: 20px;
}

aside button {
  background-color: var(--dark);
  border-radius: 10px;
  color: white;
  border: none;
  width: 130px;
  height: 40px;
  margin-top: 20px;
}

aside button:hover {
  opacity: 0.8;
}

.background-image {
  background-image: url("https://tripadvisor-lereacteur.netlify.app/assets/img/image_trips_card_medium.png");
  height: 190px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 10px 10px;
  margin-bottom: 40px;
}

/* ------------------------------------ */
/* SECTION-INTEREST */
/* ------------------------------------
------------------------------------
------------------------------------ */

.interest {
  display: flex;
  margin-bottom: 50px;
}

.left-side-interest {
  flex: 1;
}

.left-side-interest p {
  margin-bottom: 20px;
  font-size: 18px;
  margin-right: 20px;
}
.carrousel {
  display: flex;
  gap: 15px;
  overflow: hidden;
  overflow-x: scroll;
  flex: 3;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carrousel::-webkit-scrollbar {
  display: none;
}

.carrousel-item {
  width: calc(33% - 10px);
  flex-shrink: 0;
}

.carrousel-item .carrousel-img {
  width: 100%;
}

.carrousel-img {
  position: relative;
}

.circle-heart {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--white);
  padding: 10px;
  border-radius: 30px;
}

.circle-heart i {
  color: var(--dark);
}
.review i {
  color: var(--green);
  font-size: 14px;
}

.carrousel-img img:first-child {
  height: 190px;
  width: 100%;
  object-fit: cover;
}

.carrousel-img img:last-child {
  position: absolute;
  width: 30px;
  left: 5px;
  bottom: 10px;
  border-radius: 15px 15px 0 0;
}

.carrousel-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.review {
  margin: 5px 1px;
}

.review span {
  font-size: 13px;
  margin-left: 10px;
}

/* ------------------------------------ */
/* ------------------------------------*/
/* FOOTER */
/*------------------------------------
------------------------------------ */

footer {
  background-color: var(--beige);
  padding: 40px;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div img {
  width: 30px;
}
footer span {
  margin-left: 10px;
}

footer a {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
}

/* ------------------------------------ */
/* ------------------------------------*/
/* MEDIA QUERIES */
/*------------------------------------
------------------------------------ */

@media (max-width: 1184px) {
  .nav-top-pictures {
    flex-wrap: wrap;
  }

  .nav-top-pictures > div {
    width: calc(25% - 40px);
    flex: 0 0 auto;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .icons-nav p {
    display: none;
  }

  .icons-nav i {
    font-size: 20px;
  }

  .views {
    height: 270px;
  }

  .views > img:first-child {
    flex: 4;
  }

  .views > div {
    flex: 2;
  }

  .views > div img {
    object-position: top;
  }

  .description {
    flex-wrap: wrap;
    gap: 50px;
  }

  .description .left-side {
    width: 100%;
  }

  .right-side {
    display: flex;
    width: 100%;
    height: 250px;
  }

  aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .background-image {
    flex: 1;
    height: 100%;
  }

  .carrousel-item {
    width: calc(40% - 10px);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  header i {
    font-size: 24px;
  }

  header img {
    width: 132px;
  }
  .icons-nav:not(:last-child),
  nav button {
    display: none;
  }

  header .hidden {
    display: inline;
  }

  .nav-top-pictures {
    flex-wrap: nowrap;
    overflow-x: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .nav-top-pictures > div {
    width: auto;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .nav-top-pictures::-webkit-scrollbar {
    display: none;
  }

  .views > img:first-child {
    width: 100%;
    height: 300px;
  }

  .views > div {
    display: none;
  }

  .left-side p {
    font-size: 16px;
  }

  .right-side {
    flex-direction: column;
    width: 100%;
    height: 450px;
  }

  .interest {
    flex-direction: column;
  }

  .left-side-interest {
    padding-bottom: 30px;
  }

  .carrousel-item {
    width: calc(65% - 10px);
  }

  .carrousel-img img:first-child {
    height: 300px;
  }
}
